# Empty CSS file for your own CSS

body {
  padding-top: 40px;
}

img {
	max-width: 100%
}

html, body {
    height:100%;
}

.spacer5 {
  height: 5px;
}

.rojoC{
color: #D8665F
}

.rojoO{
color: #AF4A55
}

.azul{
color: #88CEF3
}

.azulO{
	color:#4071B6
}

.verde{
color: #A9D8A4
}

.blanco{
color: #FCF9FA
}

.negro{
color: #48403C;
}

.my-custom-scrollbar {
position: relative;
height: 500px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.table{
 background:#88CEF3  !important;
  color: #48403C !important;
  
}
.carousel-inner{
  margin-top: 100px;
}

.btn-primary
{
background-color: #4071B6 !important;
border-color: #48403C;
color: #FCF9FA;
}

.btn-success{
background-color: #7FC089 !important;
border-color: #48403C;
color: white;
}


.btn-dark{
background-color: #48403C !important;
border-color: #48403C;
color: white;
}

.card{
	background-color: #FCF9FA !important;
	max-width: 500px;
	border-color: #48403C;
	 margin: auto;
}

.margen{
	margin-bottom: 10px;
}

.titulo{
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: 'Acme', sans-serif;
	font-size: 48px;

}
.logo {
	max-width: 25%
}